.form {

    border-bottom:25px;
    border-top:50px;
    border-left:50px;
    border-right:50px;
    padding:6px,5px,10px,25px;
}

.new {
    border-bottom:25px;
    border-top:25px;
    border-left:25px;
    border-right:25px;
    padding:6px,5px,10px,25px;
}
.watermark {
    color:#a8aaa4;
    text-align: center;
}
